<div>
    <br><br><br>
    <div class="text-center">
        <a href="/products">
            <img src="http://localhost:3000/images/logo.JPG" style="width: 500px; " class="img" alt="logo">
        </a>
    </div>
</div>

<style>
    .img:hover {
        color: #424242;
        -webkit-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
        -ms-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in;
        opacity: 1;
        transform: scale(1.25);
    }
</style>